<h1 class="page-title">Last Week Review</h1>
<h2 class="page-title"><%= @consumption[:start_date].inspect %> - <%= @consumption[:end_date].inspect %></h2>

<div class="dash-section">
	<h2 class="section-title">Consumption</h2>

	<div class="dash-subsection">
		<%= @consumption[:wins] %> of 7 winning days = <%= @consumption[:percent_win] %>%
	</div>
	
</div>

<div class="dash-section">
	<h2 class="section-title">Alcohol</h2>
	<div class="dash-subsection">
		<% @no_alcohl_days = @alcohol.select{|date,done| done == true }.count %>
		<%= @no_alcohl_days %> of <%= @alcohol.count %> no alcohol days = <%= (@no_alcohl_days / @alcohol.count.to_f * 100).round(2) %>%
	</div>

</div>

<div class="dash-section">
	<h2 class="section-title">Exercise</h2>
	<div class="dash-subsection">
	
	</div>
	
</div>

<div class="dash-section">
	<h2 class="section-title">Journal</h2>
	<div class="dash-subsection">
		<% @journal_days = @journal.select{|date,done| done == true }.count %>
		<%= @journal_days %> of <%= @journal.count %> journal days = <%= (@journal_days / @journal.count.to_f * 100).round(2) %>%
	</div>
	
</div>

<div class="dash-section">
	<h2 class="section-title">Meditate</h2>
	<div class="dash-subsection">
		<% @meditation_days = @meditate.select{|date,done| done == true }.count %>
		<%= @meditation_days %> of <%= @meditate.count %> meditation days = <%= (@meditation_days / @meditate.count.to_f * 100).round(2) %>%
	</div>
	
</div>


<div class="dash-section">
	<h2 class="section-title">AM Brush</h2>
	<div class="dash-subsection">
		<% @ambrush_days = @ambrush.select{|date,done| done == true }.count %>
		<%= @ambrush_days %> of <%= @ambrush.count %> am brush days = <%= (@ambrush_days / @ambrush.count.to_f * 100).round(2) %>%
	</div>
	
</div>

<div class="dash-section">
	<h2 class="section-title">PM Brush</h2>
	<div class="dash-subsection">
		<% @pmbrush_days = @pmbrush.select{|date,done| done == true }.count %>
		<%= @pmbrush_days %> of <%= @pmbrush.count %> pm brush days = <%= (@pmbrush_days / @pmbrush.count.to_f * 100).round(2) %>%
	</div>
	
</div>

<div class="dash-section">
	<h2 class="section-title">Shower</h2>
	<div class="dash-subsection">
		<% @shower_days = @shower.select{|date,done| done == true }.count %>
		<%= @shower_days %> of <%= @shower.count %> shower days = <%= (@shower_days / @shower.count.to_f * 100).round(2) %>%
	</div>
	
</div>


