<h2 class="section-title">This Week</h2>

<% data = Consumption.win_loss_days_and_percents(Consumption.this_week) %>
<% avg_feeling_score = Consumption.avg_feeling_score(Consumption.this_week) %>

<h6 class="section-sub-title"><%= data[:start_date].strftime("%a %d %b") %> to <%= data[:end_date].strftime("%a %d %b") %></h6>

<table class="index-table">
	<thead>
		<th>
			# winning days
		</th>
		<th>
			% winning days
		</th>
		<th>
			avg feeling score
		</th>
	</thead>
	<tr>
		<td class="center-text">
			<%= data[:wins]	%> of <%= data[:days] %>
		</td>
		<td class="center-text">
			<%= data[:percent_win] %>
		</td>
		<td class="center-text">
			<%= avg_feeling_score %>
		</td>
	</tr>
</table>