<p id="notice"><%= notice %></p>

<h1 class="page-title">Weekly Data</h1>

<table class="index-table">
  <thead>
    <tr>
      <td class="center-text">week of</th>
      <td class="center-text">meditation days</th>
      <td class="center-text">journal days</th>
      <td class="center-text">consumption win days</th>
      <td class="center-text">exercise days</th>
      <td class="center-text">total sleep hours</th>
      <td class="center-text">no alcohol days</th>
      <td class="center-text">shower days</th>
      <td class="center-text">am brush days</th>
      <td class="center-text">pm brush days</th>
    </tr>
  </thead>

  <tbody>
    <% @weekly_data.each_with_index do |weekly_datum,i| %>
      <tr>
        <td class="center-text"><%= link_to weekly_datum.week_of, weekly_datum %></td>
        <%= render partial: 'weekly_data/partials/meditation_days_cells', locals: {weekly_datum: weekly_datum, weekly_data: @weekly_data, i: i} %>
        <%= render partial: 'weekly_data/partials/journal_days_cells', locals: {weekly_datum: weekly_datum, weekly_data: @weekly_data, i: i} %>
        <%= render partial: 'weekly_data/partials/consumption_days_cells', locals: {weekly_datum: weekly_datum, weekly_data: @weekly_data, i: i} %>
        <%= render partial: 'weekly_data/partials/exercise_days_cells', locals: {weekly_datum: weekly_datum, weekly_data: @weekly_data, i: i} %>
        <%= render partial: 'weekly_data/partials/sleep_days_cells', locals: {weekly_datum: weekly_datum, weekly_data: @weekly_data, i: i} %>
        
        <%= render partial: 'weekly_data/partials/alcohol_days_cells', locals: {weekly_datum: weekly_datum, weekly_data: @weekly_data, i: i} %>
        <%= render partial: 'weekly_data/partials/shower_days_cells', locals: {weekly_datum: weekly_datum, weekly_data: @weekly_data, i: i} %>
        <%= render partial: 'weekly_data/partials/ambrush_days_cells', locals: {weekly_datum: weekly_datum, weekly_data: @weekly_data, i: i} %>
        <%= render partial: 'weekly_data/partials/pmbrush_days_cells', locals: {weekly_datum: weekly_datum, weekly_data: @weekly_data, i: i} %>
      </tr>
    <% end %>
  </tbody>
</table>
