<%= form_with(model: sleep, local: true) do |form| %>
  <% if sleep.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(sleep.errors.count, "error") %> prohibited this sleep from being saved:</h2>

      <ul>
        <% sleep.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

<div class="table-responsive">
  <table class="form-partial">
    <tr>
      <td class="text-field-width">
          <div class="form-group">
            <%= form.number_field :hrs, placeholder: "hours", class: "form-control" %>
          </div>
      </td>
      <td class="text-field-width">
        <div class="form-group">
          <%= form.number_field :mins, placeholder: "minutes", class: "form-control" %>
        </div>
      </td>
    </tr>
    <tr>
      <td colspan="2" class="button-cell">
        <div class="actions">
          <%= form.submit "log", class: "btn btn-info btn-md short-text-button" %>
        </div>
      </td>
    </tr>
    </tr>
  </table>
</div>
<% end %>
