<p id="notice"><%= notice %></p>

<h1 class="page-title">Sleeps</h1>

<%= render partial: "mini_form", locals: {sleep: @todays_sleep} %>

<table class="index-table">
  <thead>
    <tr>
      <th>date</th>
      <th>dow</th>
      <th>total hrs</th>
      <th>total mins</th>
      <th>hrs</th>
      <th>mins</th>
    </tr>
  </thead>

  <tbody>
    <% @sleeps.each do |sleep| %>
      <% if sleep.total_hrs >= 7 %>
        <tr class="goal-achieved">
      <% else %>
        <tr class="goal-not-achieved">
      <% end %>
        <td class="center-text"><%= link_to sleep.date, edit_sleep_path(sleep) %></td>
        <td class="center-text"><%= link_to sleep.date.strftime("%a"), edit_sleep_path(sleep) %></td>
        <td class="center-text"><%= link_to sleep.hrs, edit_sleep_path(sleep) %></td>
        <td class="center-text"><%= link_to sleep.mins, edit_sleep_path(sleep) %></td>
        <td class="center-text"><%= link_to sleep.total_hrs, edit_sleep_path(sleep) %></td>
        <td class="center-text"><%= link_to sleep.total_mins, edit_sleep_path(sleep) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
