<%= form_with(model: consumption, local: true) do |form| %>
  <% if consumption.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(consumption.errors.count, "error") %> prohibited this consumption from being saved:</h2>

      <ul>
        <% consumption.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :date %>
    
    <%= form.text_field :date, data: { behavior: "date-picker" } %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_area :description %>
  </div>

  <div class="field">
    <%= form.label :feeling_score %>
    <%= form.number_field :feeling_score %>
  </div>

  <div class="field">
    <%= form.label :win %>
    <%= form.check_box :win %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
