<p id="notice"><%= notice %></p>

<div class="dash-section">
	<%= render partial: 'dashboards/partials/yesterday_summary_checkboxes' %>
	<hr class="dotted">
	<%= render partial: 'dashboards/partials/today_summary_checkboxes' %>
</div>

<div class="dash-section">
	<%= render partial: 'consumptions/partials/today_consumption_summary.html.erb' %>
	<%= render partial: 'consumptions/partials/mini_form', locals: {consumption: Consumption.new} %>		
</div>

<div class="dash-section">
	<%= render partial: 'exercises/partials/today_exercise_summary.html.erb' %>
	<%= render partial: 'exercises/partials/mini_form', locals: {exercise: @todays_exercise} %>
</div>
<div class="dash-section">
	<h2 class="section-title">Sleep</h2>
	<h5 class="section-sub-title"><%= @todays_sleep.total_hrs %> hrs sleep last night</h5>
	<%= render partial: 'sleeps/mini_form', locals: {sleep: @todays_sleep} %>
</div>

<div class="dash-section">
	<h2 class="section-title">HRV</h2>
	<h5 class="section-sub-title"><%= @todays_hrv.hrv %> HRV last night</h5>
	<%= render partial: 'hrvs/mini_form', locals: {hrv: @todays_hrv} %>
</div>
