<p id="notice"><%= notice %></p>

<h1 class="page-title"><%= Date.today.inspect %></h1>

<%= render partial: 'dashboards/partials/today_summary_checkboxes' %>

<div class="dash-section">
	<%= render partial: 'consumptions/partials/today_consumption_summary.html.erb' %>
	<%= render partial: 'consumptions/partials/mini_form', locals: {consumption: Consumption.new} %>		
</div>

<div class="dash-section">
	<%= render partial: 'exercises/partials/today_exercise_summary.html.erb' %>
	<%= render partial: 'exercises/partials/mini_form', locals: {exercise: @todays_exercise} %>	
</div>
