<p id="notice"><%= notice %></p>

<h1 class="page-title">Dailies</h1>

<div class="dash-section">
	<h3 class="section-title">Daily Habits</h3>
</div>

<div class="dash-section">
	<h3 class="section-title">Consumption</h3>
	<div class="dash-subsection">
		<% if Consumption.todays_consumption[:total_count] == 0 %>
			<h6>nothing consumed today</h6>
		<% else %>
			<%= Consumption.todays_consumption[:wins] %> wins of <%= Consumption.todays_consumption[:total_count] %> total consumptions ( <%= ((Consumption.todays_consumption[:wins] / Consumption.todays_consumption[:total_count]) / 100.0).round(2) %>% ) wins<%= Consumption.todays_consumption[:wins] %> wins of <%= Consumption.todays_consumption[:total_count] %> total consumptions ( <%= ((Consumption.todays_consumption[:wins] / Consumption.todays_consumption[:total_count]) / 100.0).round(2) %>% ) wins
		<% end %>
	</div>
	<%= render partial: 'consumptions/mini_form', locals: {consumption: Consumption.new} %>	
</div>

<div class="dash-section">
	<h3 class="section-title">Exercise</h3>
	<div class="dash-subsection">
		<%= Exercise.minutes_today %> mins of 60 ( <%= (Exercise.minutes_today/60*100.0).round(2) %>% ) completed 
	</div>
	<%= render partial: 'exercises/mini_form', locals: {exercise: Exercise.new} %>
	
	
	
</div>
