<p id="notice"><%= notice %></p>

<h1 class="page-title">Dailies</h1>

<%= render partial: 'dailies/mini_form', locals: {daily: Daily.new} %>

<table class="index-table">
  <thead>
    <tr>
      <th>date</th>
      <th>dow</th>
      <th>am brush</th>
      <th>stretch</th>
      <th>journal</th>
      <th>meditate</th>
      <th>visualize</th>
      <th>no alcohol</th>
      <th>shower</th>
      <th>pm brush</th>
    </tr>
  </thead>

  <tbody>
    <% @row_summary.each{|row| %>
      <tr>
        <% row.values.each{|value| %>
          <% if value.class == Date %>
            <td class="center-text"><%= value %></td>
            <td class="center-text"><%= value.strftime("%a") %></td>
          <% else %>
            <% if value.done == true %>
              <td class="center-text">
                <%= link_to dailies_mark_undone_path(daily_id: value.id), class: "icon-link" do %>
                  <%= fa_icon "check-square", size: '2x', style: 'color: green' %>
                <% end %>  
              </td>
            <% else %>
              <td class="center-text">
                <%= link_to dailies_mark_done_path(daily_id: value.id), class: "icon-link" do %>
                  <%= fa_icon "square", size: '2x', style: 'color: red' %>
                <% end %>
              </td>
            <% end %>
          <% end %>  
        <% } %>  
      </tr>
    <% } %>
  </tbody>
</table>