<%= form_with(model: exercise, local: true) do |form| %>
  <% if exercise.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(exercise.errors.count, "error") %> prohibited this exercise from being saved:</h2>

      <ul>
        <% exercise.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="table-responsive">
    <table class="form-partial">
      <tr>
        <td>
          <div class="field">
            <%= form.text_field :date, data: { behavior: "flatpickr" }, placeholder: "date", class: "form-control" %>
          </div>
        </td>
        <td>
          <div class="field">
            <%= form.text_field :description, placeholder: "description", class: "form-control" %>
          </div>
        </td>
        <td>
          <div class="field">
            <%= form.number_field :total_minutes, placeholder: "total mins", class: "form-control" %>
          </div>
        </td>
        <td class="button-cell">
          <div class="actions">
            <%= form.submit "log", class: "btn btn-info btn-md short-text-button" %>
          </div>
        </td>
      </tr>
    </table>
  </div>

<% end %>