<%= form_with(model: exercise, local: true) do |form| %>
  <% if exercise.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(exercise.errors.count, "error") %> prohibited this exercise from being saved:</h2>

      <ul>
        <% exercise.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <table class="form-partial">
    <tr>
      <td>
        <div class="field">
          <%= form.label :date %><br>
          <%= form.text_field :date, data: { behavior: "flatpickr" } %>
        </div>
      </td>
      <td>
        <div class="field">
          <%= form.label :description %><br>
          <%= form.text_area :description %>
        </div>
      </td>
      <td>
        <div class="field">
          <%= form.label :total_minutes %><br>
          <%= form.number_field :total_minutes %>
        </div>
      </td>
    </tr>
    <tr>
      <td colspan="3" class="button-cell">
        <div class="actions">
          <%= form.submit "create", class: "btn btn-info" %>
        </div>
      </td>
    </tr>
  </table>
<% end %>