<p id="notice"><%= notice %></p>

<h1 class="page-title">Exercise</h1>

  <%= render partial: 'exercises/partials/mini_form', locals: {exercise: @todays_exercise} %>

<table class="index-table">
  <thead>
    <tr>
      <th>date</th>
      <th>dow</th>
      <th>total mins</th>
      <th class="left-head">description</th>
    </tr>
  </thead>

  <tbody>
    <% @exercises.each do |exercise| %>
      <% if exercise.total_minutes >= 60 %>
        <tr class="goal-achieved">
      <% else %>
        <tr class="goal-not-achieved">
      <% end %>
        <td><%= link_to exercise.date, edit_exercise_path(exercise) %></td>
        <td><%= link_to exercise.date.strftime("%a"), edit_exercise_path(exercise) %></td>
        <td class="center-text"><%= link_to exercise.total_minutes, edit_exercise_path(exercise) %></td>
        <td class="wrap-text-cell">
          <% if  exercise.description == "" %>
            <%= link_to "--", edit_exercise_path(exercise) %>
          <% else %>
            <%= link_to exercise.description, edit_exercise_path(exercise) %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>


