<p id="notice"><%= notice %></p>

<h1 class="page-title">Exercises</h1>


  <%= render partial: 'exercises/new_form', locals: {exercise: Exercise.new} %>


<table class="index-table">
  <thead>
    <tr>
      <th>date</th>
      <th>dow</th>
      <th>total mins</th>
      <th class="left-head">description</th>
    </tr>
  </thead>

  <tbody>
    <% @exercises.each do |exercise| %>
      <tr>
        <td><%= exercise.date %></td>
        <td><%= exercise.date.strftime("%A") %></td>
        <td class="center-text"><%= exercise.total_minutes %></td>
        <td class="wrap-text-cell">
          <% if  exercise.description == "" %>
            <%= link_to "--", exercise %>
          <% else %>
            <%= link_to exercise.description, exercise %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>


