<!DOCTYPE html>
<html>
  <head>
    <title>waey</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= favicon_link_tag asset_path('waey.png') %>

    <%= stylesheet_link_tag "application", media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag "application", media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <!-- <script src="https://d3js.org/d3.v4.min.js"></script> -->
    <!-- v3.5.15 -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.15/d3.min.js"></script>
  </head>

  <body>
    <% if controller.controller_name == 'journal_entries' or controller.controller_name == 'prompts' %>
      <%= render partial: 'layouts/journal_navbar' %>
    <% else %>
      <%= render partial: 'layouts/waey_navbar' %>
    <% end %>

    <%= yield %>
  </body>
</html>
